<div class="top_wrap">
  <a href="/admin">首页</a>
  <a href="/admin/banners">bannner设置</a>
  <a href="/admin/blog">blog设置</a>
  <a href="/admin/concat">联系方式</a>
  <a href="/admin/intro">产品介绍</a>
  <a href="/admin/msg">留言管理</a>
  <a href="/admin/news">新闻管理</a>
</div>
