<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>后台管理系统</title>
  </head>
  <body>
    <div class="page">
      <% include  components/top.inc.ejs %>
      <div class="content_wrap">
        index
      </div>
    </div>
  </body>
</html>
